<include file="Public/main"/>
<include file="Public/header"/>
<link rel="stylesheet" href="__CSS__/bootstrap.min.css"/>
<link rel="stylesheet" href="__CSS__/page.css"/>
<div class="page-title">
    <div class="title-env">
        <h1 class="title">{$meta_title}</h1>
        <p class="description">{$meta_describe}</p>
    </div>
    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="{:U('Index/index')}"><i class="fa-home"></i>首页</a>
            </li>
            <li>
                <a>内容管理</a>
            </li>
            <li class="active">
                <strong>{$meta_title}</strong>
            </li>
        </ol>

    </div>

</div>
<!-- Responsive Table -->
<section class="gallery-env">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="search-form input-group col-xs-3 pull-right">
                        <input type="text" name="nickname" value="{:I('nickname')}" class="form-control search-input" placeholder="请输入律所名称&hellip;">
                        <a class="input-group-addon" href="javascript:;" id="search" url="{:U('index')}">
                            <i class="linecons-search"></i>
                        </a>
                    </div>
                    <form method="post" enctype="multipart/form-data" action="{:U('Laws/subimport')}">
                        <div class="btn btn-white btn-icon" onclick="addLaws()" >
                            <span>新建律所</span>
                            <i class="fa-plus"></i>
                        </div>
                        <!--<input style="display:none;" type="file"  id="pic" name="file">-->
                        <!--<span style="cursor:pointer;" class="el-export" onclick="pic.click()">添加文件</span>-->
                        <!--<button type="submit" class="btn btn-white btn-icon">-->
                            <!--<span>导入律所</span>-->
                        <!--</button>-->
                        <!--<div class="btn btn-white btn-icon" onclick="export_excel()" >-->
                            <!--<span>导出律所</span>-->
                            <!--<i class="el-download-alt"></i>-->
                        <!--</div>-->
                        <div class="btn btn-danger" id="getValue">
                            <span>删除</span>
                            <i class="el-trash"></i>
                        </div>
                    </form>
                    <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
                        <script type="text/javascript">
                            jQuery(document).ready(function($)
                            {
                                // Replace checkboxes when they appear
                                var $state = $("#law_list thead input[type='checkbox']");

                                $("#law_list").on('draw.dt', function()
                                {
                                    cbr_replace();

                                    $state.trigger('change');
                                });

                                // Script to select all checkboxes
                                $state.on('change', function(ev)
                                {
                                    var $chcks = $("#law_list tbody input[type='checkbox']");

                                    if($state.is(':checked'))
                                    {
                                        $chcks.prop('checked', true).trigger('change');
                                    }
                                    else
                                    {
                                        $chcks.prop('checked', false).trigger('change');
                                    }
                                });

                                //获取选中选项的值
                                $("#getValue").click(function() {
                                    var valArr = new Array;
                                    var r=confirm("确定要删除吗，删除之后将不可恢复!");
                                    if (r)
                                    {
                                        $('input[name="law_id"]:checked').each(function(i) {
                                            valArr[i] = $(this).val();
                                        });
                                        var vals = valArr.join(',');
                                        if (vals == ''){
                                            alert('请选择要操作的数据');
                                        }else {
//                                            alert(vals);
                                            data = {
                                                get_id : vals
                                            }
                                            var pUrl = "{:U('Laws/delLaws')}";
                                            $.post(pUrl, data, function(data){
                                                if(data.state == 1){
                                                    alert(data.msg);
                                                    location.href = "{:U('Laws/index')}";
                                                }else{
                                                    alert("操作失败");
                                                }
                                            }, 'json');
                                        }
                                    }else {
                                        return false;
                                    }
                                });
                            });
                        </script>
                        <table cellspacing="0" class="table table-small-font table-bordered table-striped" id="law_list">
                            <thead>
                            <tr>
                                <th class="no-sorting">
                                    <input type="checkbox" class="cbr">
                                </th>
                                <th>ID</th>
                                <th>LOGO</th>
                                <th>律所名称</th>
                                <th>管理员</th>
                                <th>所在地</th>
                                <th>联系电话</th>
                                <th>专业领域</th>
                                <th>注册时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="data" item="vo">
                                <tr>
                                    <td>
                                        <input name="law_id" type="checkbox" class="cbr" value="{$vo.id}">
                                    </td>
                                    <th>{$key+1}</th>
                                    <th>
                                        <notempty name="vo['logo']">
                                        <img src="{$vo.logo}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
                                        <else/>
                                            暂无
                                        </notempty>
                                    </th>
                                    <th>{$vo.law_name}</th>
                                    <td>
                                        <empty name="vo['uadmin']">
                                            暂无
                                            <else/>
                                            <a href="">{$vo.uname}</a>
                                        </empty>
                                    </td>
                                    <td>
                                        <notempty name="vo['province']">{$vo.province} - </notempty>
                                        <notempty name="vo['city']">{$vo.city} - </notempty>
                                        <notempty name="vo['town']">{$vo.town}</notempty>
                                        <notempty name="vo['address']"> - {$vo.address}</notempty>
                                    </td>
                                    <td>
                                        <empty name="vo['phone']">
                                            暂无
                                            <else/>
                                            <a href="">{$vo.phone}</a>
                                        </empty>
                                    </td>
                                    <td>
                                        <!--<volist name=":explode(',',$vo['majors'])" id="vx">-->
                                            <!--<foreach name="major_list" item="mvo">-->
                                                <!--<if condition="$mvo['id'] eq $vx">【{$mvo.major_name}】</if>-->
                                            <!--</foreach>-->
                                        <!--</volist>-->【{$mvo.major_name}】
                                    </td>
                                    <td>{$vo.regtime|date='Y-m-d',###}</td>
                                    <td>
                                        <if condition="$vo['status'] eq 1">
                                            <span class="label btn-success">正常</span>
                                            <else/>
                                            <span class="label btn-primary">关闭</span>
                                        </if>
                                    </td>
                                    <td>
                                        <if condition="$vo['status'] eq 1">
                                            <a href="{:U('Laws/changeStatus',array('status'=>lx_encrypt(0),'lid'=>lx_encrypt($vo['id'])))}" onclick="return del_confirm()" class="btn btn-danger btn-sm btn-icon icon-left">删除</a>
                                            <else />
                                            <a href="{:U('Laws/changeStatus',array('status'=>lx_encrypt(1),'lid'=>lx_encrypt($vo['id'])))}" class="btn btn-secondary btn-sm btn-icon icon-left">恢复</a>
                                        </if>
                                        <if condition="$vo['is_push'] eq 1">
                                            <a href="{:U('Laws/cancelPush',array('is_push'=>lx_encrypt(0),'mid'=>lx_encrypt($vo['id'])))}" class="btn btn-pink btn-sm btn-icon icon-left">取消banner推荐</a>
                                            <else />
                                            <a href="{:U('Push/addPush',array('id'=>lx_encrypt($vo['id']),'t'=>lx_encrypt(5)))}" class="btn btn-turquoise btn-sm btn-icon icon-left">banner推荐</a>
                                        </if>
                                        <a href="{:U('Laws/editLaws',array('lid' => lx_encrypt($vo['id'])))}" class="btn btn-info btn-sm btn-icon icon-left">
                                            <li class="fa-pencil"></li>
                                        </a>
                                        <!--<a href="{:U('Laws/delLaws',array('lid'=>$vo['id']))}" onclick="return del_confirm()" class="btn btn-danger btn-sm btn-icon icon-left">-->
                                            <!--<li class="fa-trash-o"></li>-->
                                        <!--</a>-->
                                    </td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                        <div class="flickr">{$page}</div>
                    </div>

                    <script type="text/javascript">

                        function addLaws(){
                            window.location.href = "{:U('Laws/addLaws')}";
                        }

//                        function import_excel(){
//                            window.location.href = "{:U('Laws/subimport')}";
//                        }

                        function export_excel(){
                            window.location.href = "{:U('Laws/subexport')}"
                        }
                    </script>


                </div>

            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    //搜索功能
    $("#search").click(function(){
        var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        window.location.href = url;
    });
    //回车搜索
    $(".search-input").keyup(function(e){
        if(e.keyCode === 13){
            $("#search").click();
            return false;
        }
    });
</script>
<include file="Public/footer"/>