<include file="header" />

<div class="userbanner ">
    <div class="userbannerbg">
        <div class="avt"><img src="{$thumb_img}"></div>
        <div class="authorinfo">
            <h1 class="usrname">{$username}</h1>
            <!--<p class="summary">{$remark}</p>-->
        </div>
        <a href="{:U('M/add')}" class="publish-btn public-btn-red">发布文章</a>
    </div>
    <p class="advice-word">
        {$remark}
        <i class="quote"></i>
    </p>
</div>

<div class="usrstatus">
    <div class="usrdata">
        <p class="data1"><span class="num">
            <empty name="total_views">
                0
            <else/>
                {$total_views}
            </empty>
        </span><span class="name">阅读量</span></p>
        <a href="{:U('M/article')}"><p class="data2"><span class="num">{$count}</span><span class="name">文章总数</span></p></a>
        <p class="data3"><span class="num">
            <empty name="comment_sums">
                0
            <else/>
                {$comment_sums}
            </empty>
        </span><span class="name">文章回复总数</span></p>
    </div>
    <div class="usrstat">
        <div class="news">
            <p class="common-author-heading-wrap">
                <span class="common-author-heading tit">最新发布</span>
            </p>
            <ul class="newslis">
                <volist name="article_list" id="article">
                    <li>
                        <span class="top top1"></span>
                        <a href="{:U('M/article')}">{$article.title}</a>
                    </li>
                </volist>
            </ul>
        </div>
    </div>
</div>

<include file="footer" />