<include file="Public/main" />
<include file="Public/header"/>

<script type="text/javascript" src="__JS__/bootstrapValidator.js"></script>
<div class="page-title">
    <div class="title-env">
        <h1 class="title">{$meta_title}</h1>
        <p class="description">{$meta_describe}</p>
    </div>
    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="{:U('Index/index')}"><i class="fa-home"></i>首页</a>
            </li>
            <li>
                <a>用户管理</a>
            </li>
            <li>
                <a href="#" onClick="javascript :history.back(-1);">在线直播</a>
            </li>
            <li class="active">
                <strong>{$meta_title}</strong>
            </li>
        </ol>

    </div>

</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body form-horizontal">
            <form id="For_video" action="{:U('Live/sendMsg')}" method="post" enctype="multipart/form-data">
                <div class="form-group share">
                    <label class="col-lg-1 control-label">分享到群组群号</label>
                    <div class="col-lg-3 kv-main"><input class="form-control" type="text" name="group"><span style="font-size: small; color: #00aa00">* 分享到群组的群号,不是该群成员不能观看此直播</span></div>
                </div>
                <div class="form-group share">
                    <label class="col-lg-1 control-label">分享描述</label>
                    <div class="col-lg-3 kv-main">
                        <textarea name="content" class="form-control" cols="" rows="3"></textarea>
                        <span style="font-size: small; color: #00aa00">* 分享到群组的描述,分享到群组时的描述</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-lg-offset-3">
                        <button type="button" class="btn btn-success" id="btn-submit">发 送</button>
                        <a href="javascript:window.history.go(-1)" class="btn btn-outline btn-default">返 回</a>
                        <input type="hidden" name="id" value="{$liveInfo.id}">
                        <input type="hidden" name="mobile" value="{$liveInfo.mobile}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#For_video')
            .bootstrapValidator({
                message: '这个值无效',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    major_id: {
                        message: '专业标签无效！',
                        validators: {
                            notEmpty: {
                                message: '专业标签不能为空！'
                            }
                        }
                    },
                    imgs: {
                        validators: {
                            notEmpty: {
                                message: '封面图片不能为空！'
                            }
                        }
                    },
                    title: {
                        validators: {
                            notEmpty: {
                                message: '标题不能为空！'
                            }
                        }
                    },

                    describe: {
                        validators: {
                            notEmpty: {
                                message: '描述不能为空！'
                            }
                        }
                    }
                }
            });
    });

    $('#btn-submit').click(function(){
        var mobile = $("input[name='mobile']").val();
        var group = $("input[name='group']").val();
        if(group == ''){
            alert('请填写目标群号');
            return false;
        }
        //alert(group);
        var r = confirm('发送群消息之前,请确认'+ mobile +'该用户已加入'+ group +'群,不然无法发送成功!',true);
        if(r){
            $("#btn-submit").prop("type","submit");
        }
    });
</script>
<script src="__JS__/showIMG.js"></script>
<script type="text/javascript" src="__JS__/html5Upload.js"></script>
<include file="Public/footer"/>
