<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>律携 - 忘记密码</title>
    <link rel="icon" href="http://lx2016.oss-cn-beijing.aliyuncs.com/Icon/2016-06-15/lx_logo80.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/forget.css"/>
    <script src="__JS__/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
    <script type="text/javascript" src="__JS__/bootstrapValidator.js"></script>
    <link rel="stylesheet" href="__CSS__/bootstrapValidator.css"/>
    <link rel="stylesheet" href="__CSS__/bootstrap/css/bootstrap.css"/>
</head>

<body>
<div class="passport-wrapper">
    <div id="container">
        <div class="passport-forget">
            <ul class="passport-step">
                <li class="first past"><i class="disc">1</i>
                    <p class="text">输入邮箱地址</p>
                </li>
                <li class="past"><i class="disc">2</i><span class="strip"></span>
                    <p class="text">邮箱验证</p>
                </li>
                <li class="now"><i class="disc">3</i><span class="strip"></span>
                    <p class="text">重置密码</p>
                </li>
            </ul>
            <!-- form -->
            <form class="passport-form passport-form-email" id="resetForm" method="post" action="{:U('Login/sub_reset')}">
                <div class="form-item form-email">
                    <div class="form-cont">
                        <p>邮箱地址：<em>{$email_name}</em></p>
                    </div>
                </div>
                <div class="form-item">
                    <div class="form-cont form-group">
                        <input type="password" name="password" class="passport-txt xl w-full" tabindex="1" placeholder="输入6~32位密码" />
                    </div>
                </div>
                <div class="form-item">
                    <div class="form-cont form-group">
                        <input type="password" name="repassword" class="passport-txt xl w-full" tabindex="2" placeholder="请再次输入新密码" />
                    </div>
                </div>
                <div class="form-item form-submit">
                    <div class="form-cont">
                        <input type="hidden" name="uid" value="{$uid}"/>
                        <input type="submit" class="passport-btn passport-btn-def xl w-full" tabindex="3" value="确认" jktag="0001|0.1|91082" />
                    </div>
                </div>
            </form>
            <!-- form end -->
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#resetForm')
                .bootstrapValidator({
                    message: '这个值无效',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '<span style="color: red;">请输入新密码！</span>'
                                },
                                identical: {
                                    field: 'repassword',
                                    message: '<span style="color: red;">两次密码输入不一致！</span>'
                                }
                            }
                        },
                        repassword: {
                            validators: {
                                notEmpty: {
                                    message: '<span style="color: red;">请再次输入密码！</span>'
                                },
                                identical: {
                                    field: 'password',
                                    message: '<span style="color: red;">两次密码输入不一致！</span>'
                                }
                            }
                        }
                    }
                })
    });
</script>
</body>
</html>